h4 {
  text-decoration: underline;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
 border: 1px solid #ddd;
 padding: 8px;
}

th {
 padding-top: 12px;
 padding-bottom: 12px;
 text-align: left;
 background-color: lightcoral;
 color: white;
}

tr:hover {
  background-color: MistyRose;
}
