<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My Fridge</title>
  </head>
  <body>
    <table id="fridge">
      <tr>
        <td>Name</td>
        <td>Amount</td>
        <td>Type</td>
        <td>Lethal Dose</td>
      </tr>

      <tr>
        <td> {{food.name}} </td>
        <td> {{food.amount}} </td>
        <td> {{food.type}} </td>
        <td> {{food.lethal_dose}} </td>
      </tr>

      {% for item in all_food %}
        <tr>
          <td> {{item.name}} </td>
          <td> {{item.amount}} </td>
          <td> {{item.type}} </td>
          <td> {{item.lethal_dose}} </td>
        </tr>
      {% endfor %}

    </table>
  </body>
</html>
